
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf')  format('truetype'),
  url('../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
  url('../fonts/Montserrat-Medium/Montserrat-Medium.ttf')  format('truetype'),
  url('../fonts/Montserrat-Medium/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff'),
  url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf')  format('truetype'),
  url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf')  format('truetype'),
  url('../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff') format('woff'),
  url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.ttf')  format('truetype'),
  url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/Montserrat-Black/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
  /*url('../fonts/Montserrat-Black/Montserrat-Black.woff') format('woff'),*/
  url('../fonts/Montserrat-Black/Montserrat-Black.ttf')  format('truetype'),
  url('../fonts/Montserrat-Black/Montserrat-Black.svg#Montserrat-Black') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'SpaceMono-Regular';
  src: url('../fonts/SpaceMono-Regular/SpaceMono-Regular.eot'),
  /*url('../fonts/SpaceMono-Regular/SpaceMono-Regular.woff') format('woff'),*/
  url('../fonts/SpaceMono-Regular/SpaceMono-Regular.ttf') format('truetype'),
  url('../fonts/SpaceMono-Regular/SpaceMono-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'SpaceMono-Italic';
  src: url('../fonts/SpaceMono-Italic/SpaceMono-Italic.eot'),
  url('../fonts/SpaceMono-Italic/SpaceMono-Italic.woff') format('woff'),
  url('../fonts/SpaceMono-Italic/SpaceMono-Italic.ttf') format('truetype'),
  url('../fonts/SpaceMono-Italic/SpaceMono-Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'SourceCodePro-Regular';
  src: url('../fonts/SourceCodePro-Regular/SourceCodePro-Regular.eot'),
  url('../fonts/SourceCodePro-Regular/SourceCodePro-Regular.woff') format('woff'),
  url('../fonts/SourceCodePro-Regular/SourceCodePro-Regular.ttf') format('truetype'),
  url('../fonts/SourceCodePro-Regular/SourceCodePro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}



