
/*--- FONTS ---*/

$f-main: "Montserrat-Regular", sans-serif;
$f-med: "Montserrat-Medium", sans-serif;
$f-S-bold: "Montserrat-SemiBold", sans-serif;
$f-bold: "Montserrat-Bold", sans-serif;
$f-Ex-bold: "Montserrat-ExtraBold", sans-serif;
$f-Bleck: 'Montserrat-Black', sans-serif;
$f-mono-r: 'SpaceMono-Regular', sans-serif;
$f-mono-it: 'SpaceMono-Italic', sans-serif;
$f-mono-rk: 'SourceCodePro-Regular', sans-serif;

/*--- COLORS ---*/

$accent: #221EC4;